.blabla{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px red solid ;
    width: 45%;
    text-align: center;
    height: 55%;
    border-radius: 30px;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.3)
}
.blabla:hover
{
    height: 58%;
    width: 48%;
    opacity: 1;
    background: rgba(254, 255, 253, 0.7)
    
}
body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin:0 ;
    padding: 0;
    background-color: rgba(254, 255, 253, 0.7);
    background-image: url(/image/fab2.JPG);
    background-repeat: no-repeat;
    background-size:100% ;
    background-position-x: center;
}
.log{
    cursor: pointer;
    color: red;
}
i{
    cursor:pointer ;
}
input{
    border: red solid 2px;
    border-radius: 10px;
    width: 180px;
    height: 20px;
    text-align: center;
    color: black;
    

}
input:hover{
    height: 25px;
}
.imguni{
    height: 60px;
}
.imgfab{
   height: 60px;
}
.foot{
    border-top :rgb(255, 0, 0) solid 2px; 
    background-color: rgb(174, 177, 170) ;
    background-position: 30px ;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 8%;
}
a
{
    padding-right: 10px;
    cursor: pointer;
    
}
.contenu
{
    padding-top: 120px;
}
.head
{
    border-bottom:rgb(255, 0, 0) solid 2px ;
    background: rgba(254, 255, 253, 0.7);
    display: flex;
    flex-direction: row;
}
.logoAccIns
{
    width: 80px;
    margin-left: auto;
    padding-left: 10%;
    padding-top: 1.6%;
}
.sos
{
    position: relative;
        bottom: -20px;

}
.images
{
    width: 85%;
}
.foot a
{
    padding-right: 20px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    
}
/* @media screen and (min-width: 800px) {
    body {
	    background-image: url(/image/fab2.JPG);
        background-size: cover ;
   }
} */
