
/* styling of our forum */
.boxlog{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px red solid ;
    width: 45%;
    text-align: center;
    height: 55%;
    border-radius: 30px;
    opacity: 0.7;
    /* background: rgba(255, 255, 255, 0.3) */
}
.boxlog:hover
{
    height: 58%;
    width: 48%;
    opacity: 1;
    background: rgba(254, 255, 253, 0.7)
    
}
/* styling of our box's name */
.boxlog h3{
    position: relative;
    cursor: pointer;
    color: red;
    font-size: 45px;
    letter-spacing: 5px;
    left: 6px;
}
.contenu
{
    padding-top: 80px;
}
input{
    border: red solid 2px;
    border-radius: 10px;
    width: 180px;
    height: 20px;
    text-align: center;
    color: black;
    cursor:pointer ;
}
input:hover{
    transition: 0.5s;
    height: 25px;
    border:3px solid blueviolet;
}
.submit_btn{
    display: inline-block;
    color: rgb(104, 22, 104);
    border: 1px solid  rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 13px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    left: 10px;
}
.submit_btn:hover
{
    
    border:3px solid blueviolet;
    background: rgb(255, 0, 0);
    transition: 1s;
}

/* @media screen and (min-width: 800px) {
    body {
	    background-image: url(/image/fab2.JPG);
        background-size: cover ;
   }
} */
